# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.sqlite3

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/static
/media

# Virtual Environment
venv/
.env/
.venv/
ENV/
env/

# MyPy
.mypy_cache/

# IDEs and Editors
.idea/
.vscode/
*.sublime-workspace

# Docker
docker-compose.override.yml

# Node.js (if you have a frontend part using Node.js)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Render
render.yaml

# Ignore environment variables
.env
