{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
{% include 'partials/alert.html' %}
<div class="site-section">
    <div class="container">
      <button
          class="btn  btn-sm"
          style="cursor: pointer"
          hx-get="{{request.META.HTTP_REFERER|default:'/default-url'}}"
          hx-target="#site-wrap"
          hx-push-url="true"
        >
          <h5 class="display-7 text-dark">Go Back</h5>
        </button>
        
      <div class="row">
        <main class="main bd-grid">
          {% if shoe %}
          
          <article class="card">
            <div
              hx-get="{% url 'product' shoe.id %}" 
              hx-target="#site-wrap"
              class="card__img">
                <img
                {% if shoe.featured_image %}
                  src="{{shoe.featured_image.url}}" 
                {% else %}
                src= "{% static 'images/default.png' %}"        
                {% endif %} 
                alt="">
            </div>
            <div class="card__name">
                <p>{{shoe.name}}</p>
            </div>
            <div class="card__precis">
              <a href="#" class="icons-btn d-inline-block">
                <span class="icon-heart-o"></span>
              </a>
                
                <div>
                    <span class="card__preci card__preci--now">₦{{shoe.price |intcomma}}</span>
                </div>
                <a
                hx-post="{% url 'add_to_cart' shoe.id %}"
                hx-headers='{"X-CSRFToken":  "{{csrf_token}}" }'
                hx-target = "#modalBody"
                hx-include="#modalBody"
                data-bs-toggle="modal"
                data-bs-target="#cartModal"
                class="icons-btn d-inline-block bag"
              >
                <span class="icon-shopping-bag"></span>
                
              </a>
            </div>
          </article>
          {% else %}
          No Products Available
          {% endif %}
          </main>
        <div class="col-md-6">
          
          <h2 class="text-black">{{shoe.name | title}}</h2>
          <p class="mb-4">{{shoe.description}}</p>
          <p><strong class="text-primary h4">₦{{shoe.price | intcomma}}</strong></p>
          {% comment %} <div class="mb-1 d-flex">
            <label for="option-sm" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
            </label>
            <label for="option-md" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
            </label>
            <label for="option-lg" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
            </label>
            <label for="option-xl" class="d-flex mr-3 mb-3">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl" name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
            </label>
          </div> {% endcomment %}
          <div class="mb-5">
            <div class="input-group mb-3" style="max-width: 120px;">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
            </div>
            <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
            </div>
          </div>

          </div>
          <p><a 
              hx-post="{% url 'add_to_cart' shoe.id %}"
              hx-headers='{"X-CSRFToken":  "{{csrf_token}}" }'
              hx-target = "#modalBody"
              hx-include="#modalBody"
              data-bs-toggle="modal"
					    data-bs-target="#cartModal"
              class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a></p>

        </div>
      </div>
    </div>
  </div>

  <div class="site-section block-3 site-blocks-2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Featured Products</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 block-3">
          <div class="nonloop-block-3 owl-carousel">
            <div class="item">
              <div class="item-entry">
                <a href="#" class="product-item md-height bg-gray d-block">
                  <img src="{% static 'images/model_1.png' %}" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Smooth Cloth</a></h2>
                <strong class="item-price"><del>$46.00</del> $28.00</strong>
                <div class="star-rating">
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-entry">
                <a href="#" class="product-item md-height bg-gray d-block">
                  <img src="{% static 'images/prod_3.png' %}" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
                <strong class="item-price"><del>$46.00</del> $28.00</strong>

                <div class="star-rating">
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-entry">
                <a href="#" class="product-item md-height bg-gray d-block">
                  <img src="{% static 'images/model_5.png' %}" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Denim Jacket</a></h2>
                <strong class="item-price"><del>$46.00</del> $28.00</strong>

                <div class="star-rating">
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                </div>

              </div>
            </div>
            <div class="item">
              <div class="item-entry">
                <a href="#" class="product-item md-height bg-gray d-block">
                  <img src="images/prod_1.png" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Leather Green Bag</a></h2>
                <strong class="item-price"><del>$46.00</del> $28.00</strong>
                <div class="star-rating">
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-entry">
                <a href="#" class="product-item md-height bg-gray d-block">
                  <img src="images/model_7.png" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Yellow Jacket</a></h2>
                <strong class="item-price">$58.00</strong>
                <div class="star-rating">
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                  <span class="icon-star2 text-warning"></span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}