{% extends 'base.html' %} 
{% load static %}
{% block content %}
<!-- Profile 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
	<div class="container">
		<div class="row gy-4 gy-lg-0">
			<div class="col-12 col-lg-4 col-xl-3">
				<div class="row gy-4">
					<div class="col-12">
						<div class="card widget-card border-light shadow-sm">
							<div class="card-header text-bg-primary">
								Welcome, {{user.username| title}}
							</div>
							<div class="card-body">
								<div class="text-center mb-3">
									<img src="{{user.profile.profile_image.url}}" class="img-fluid
									rounded-circle" alt="profile picture" />
								</div>
								
								
								<ul class="list-group list-group-flush mb-4">
									<li
                                        hx-get="{% url 'order_list' %}"
                                        hx-target="#site-wrap"
                                        hx-push-url="true"
                                        style="cursor: pointer;"
										class="list-group-item d-flex justify-content-between align-items-center"
									>
										<h6 class="m-0">Orders:</h6>
										<span>{% if user.orders  %}{{user.orders.count}}{% else %}0{% endif %}</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-8 col-xl-9">
				<div class="card widget-card border-light shadow-sm">
					<div class="card-body p-4">
						<ul class="nav nav-tabs" id="profileTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button
									class="nav-link active"
									id="overview-tab"
									data-bs-toggle="tab"
									data-bs-target="#overview-tab-pane"
									type="button"
									role="tab"
									aria-controls="overview-tab-pane"
									aria-selected="true"
								>
									Overview
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button
									class="nav-link"
									id="profile-tab"
									data-bs-toggle="tab"
									data-bs-target="#profile-tab-pane"
									type="button"
									role="tab"
									aria-controls="profile-tab-pane"
									aria-selected="false"
								>
									Profile
								</button>
							</li>
							
							<li class="nav-item" role="presentation">
								<button
									class="nav-link"
									id="password-tab"
									data-bs-toggle="tab"
									data-bs-target="#password-tab-pane"
									type="button"
									role="tab"
									aria-controls="password-tab-pane"
									aria-selected="false"
								>
									Password
								</button>
							</li>
						</ul>
						<div class="tab-content pt-4" id="profileTabContent">
							<div
								class="tab-pane fade show active"
								id="overview-tab-pane"
								role="tabpanel"
								aria-labelledby="overview-tab"
								tabindex="0"
							>
								
								<div class="row g-0">
									<div
										class="col-5 col-md-3 bg-light border-bottom border-white border-3"
									>
										<div class="p-2 ">First Name</div>
									</div>
									<div
										class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
									>
										<div class="p-2">{{user.first_name |title}}</div>
									</div>
									<div
										class="col-5 col-md-3 bg-light border-bottom border-white border-3"
									>
										<div class="p-2">Last Name</div>
									</div>
									<div
										class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
									>
										<div class="p-2">{{user.last_name | title}}</div>
									</div>

									<div
										class="col-5 col-md-3 bg-light border-bottom border-white border-3"
									>
										<div class="p-2">Address</div>
									</div>
									<div
										class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
									>
										<div class="p-2">{{user.profile.address}}</div>
									</div>
									<div
										class="col-5 col-md-3 bg-light border-bottom border-white border-3"
									>
										<div class="p-2">Country</div>
									</div>
									<div
										class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
									>
										<div class="p-2">{{user.profile.country}}</div>
									</div>

									<div
										class="col-5 col-md-3 bg-light border-bottom border-white border-3"
									>
										<div class="p-2">Phone</div>
									</div>
									<div
										class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
									>
										<div class="p-2">{{user.profile.phone}}</div>
									</div>
									<div
										class="col-5 col-md-3 bg-light border-bottom border-white border-3"
									>
										<div class="p-2">Email</div>
									</div>
									<div
										class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
									>
										<div class="p-2">{{user.email }}</div>
									</div>
								</div>
							</div>
							<div
								class="tab-pane fade"
								id="profile-tab-pane"
								role="tabpanel"
								aria-labelledby="profile-tab"
								tabindex="0"
							>
								<form action="#!" class="row gy-3 gy-xxl-4">
									<div class="col-12">
										<div class="row gy-2">
											<label class="col-12 form-label m-0">Profile Image</label>
											<div class="col-12">
												<img
													src={{user.profile.profile_image.url}}
													class="img-fluid rounded-circle w-25"
													alt="Luna John"
												/>
											</div>
											<div class="col-12">
												<a
													href="#!"
													
												>
													<span  class="icomoon icon-pencil"></span>
												</a>
												<a
													href="#!"
													
												>
													<span class="icomoon icon-remove"></span>
												</a>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<label for="inputFirstName" class="form-label"
											>First Name</label
										>
										<input
											type="text"
											class="form-control"
											id="inputFirstName"
											value="{{user.profile.first_name}}"
										/>
									</div>
									<div class="col-12 col-md-6">
										<label for="inputLastName" class="form-label"
											>Last Name</label
										>
										<input
											type="text"
											class="form-control"
											id="inputLastName"
											value="{{user.profile.last_name}}"
										/>
									</div>
									
									
									
									<div class="col-12 col-md-6">
										<label for="inputPhone" class="form-label">Phone</label>
										<input
											type="tel"
											class="form-control"
											id="inputPhone"
											value="{{user.profile.phone}}"
										/>
									</div>
									<div class="col-12 col-md-6">
										<label for="inputEmail" class="form-label">Email</label>
										<input
											type="email"
											class="form-control"
											id="inputEmail"
											value="{{user.email}}"
										/>
									</div>
									<div class="col-12 col-md-6">
										<label for="inputAddress" class="form-label">Address</label>
										<input
											type="text"
											class="form-control"
											id="inputAddress"
											value="{{user.profile.address}}"
										/>
									</div>
									<div class="col-12 col-md-6">
										<label for="inputCountry" class="form-label">Country</label>
										<input
											type="text"
											class="form-control"
											id="inputCountry"
											value="{{user.profile.country}}"
										/>
									</div>
									
									
									<div class="col-12">
										<button type="submit" class="btn btn-primary">
											Save Changes
										</button>
									</div>
								</form>
							</div>
							
							<div
								class="tab-pane fade"
								id="password-tab-pane"
								role="tabpanel"
								aria-labelledby="password-tab"
								tabindex="0"
							>
								<form action="#!">
									<div class="row gy-3 gy-xxl-4">
										<div class="col-12">
											<label for="currentPassword" class="form-label"
												>Current Password</label
											>
											<input
												type="password"
												class="form-control"
												id="currentPassword"
											/>
										</div>
										<div class="col-12">
											<label for="newPassword" class="form-label"
												>New Password</label
											>
											<input
												type="password"
												class="form-control"
												id="newPassword"
											/>
										</div>
										<div class="col-12">
											<label for="confirmPassword" class="form-label"
												>Confirm Password</label
											>
											<input
												type="password"
												class="form-control"
												id="confirmPassword"
											/>
										</div>
										<div class="col-12">
											<button type="submit" class="btn btn-primary">
												Change Password
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
