{% load static %} {% load humanize %}

<h1 class="title-shop text-center my-4">SHOP</h1>

<div class="container">
	<div class="row">
		{% if shoes %} {% for shoe in shoes %}
		<div class="col-md-4 col-sm-6 mb-4">
			<div class="card shadow-sm">
				<div
					hx-get="{% url 'product' shoe.id %}"
					hx-target="#site-wrap"
					hx-push-url="true"
					class="card-img-top img-fluid"
					style="cursor: pointer"
				>
					<img
						{%
						if
						shoe.featured_image
						%}
						src="{{ shoe.featured_image.url }}"
						{%
						else
						%}
						src="{% static 'images/default.png' %}"
						{%
						endif
						%}
						class="w-100"
						alt="{{ shoe.name }}"
					/>
				</div>
				<div class="card-body text-center">
					<h6 class="card-title">{{ shoe.name }}</h6>
					<p class="text-muted">₦{{ shoe.price | intcomma }}</p>

					<div class="d-flex flex-column align-items-center">
						<a href="#" class="icons-btn d-inline-block mb-2">
							<span class="icon-heart-o"></span>
						</a>

						<button
							hx-post="{% url 'add_to_cart' shoe.id %}"
							hx-headers='{"X-CSRFToken":  "{{ csrf_token }}" }'
							hx-target="#modalBody"
							hx-include="#modalBody"
							data-bs-toggle="modal"
							data-bs-target="#cartModal"
							class="btn btn-sm btn-primary"
						>
							Add To Cart
						</button>
					</div>
				</div>
			</div>
		</div>
		{% endfor %} {% else %}
		<p class="text-center w-100">No Products Available</p>
		{% endif %}
	</div>
</div>
